# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Abc Preview'
      'submenu': [
        {
          'label': 'Toggle Preview'
          'command': 'abc:toggle'
        }
      ]
    ]
  }
]
